numpy >= 1.22.0
pandas >= 2.0.0
plotly >= 5.19.0
matplotlib
tqdm
toml

torch >= 2.2.1
torchvision

transformers >= 4.39.0

einops >= 0.7.0
pytorch-optimizer >= 2.11.0
reformer-pytorch >= 1.4.4

causal-conv1d >= 1.2.0
mamba-ssm >= 1.2.0

scikit-learn >= 1.4.0
bayesian-optimization >= 1.4.0

wandb >= 0.16.4
tensorboard >= 2.16.0